.container
  position: absolute
  top: calc(50% - ( 361px / 2 ))
  left: calc(50% - ( 750px / 2 ))

.addForm span
  color: #fff

.songsList a
  color: #fff
  font-size: 24px

.uiContainer__song-list
  background: rgba(0,0,0,0.5)
