<div class="entry-form container-fluid">
  <div class="row">
    <div class="col-sm-3 padded--large">
      
    </div>
    <div class="col-sm-6 padded--large">
      <form>
        <div class="form-group">
          <label for="songName">Song name</label>
          <input type="text" class="form-control" ng-model="songForm.newSong.name" placeholder="Another Brick In The Wall">
        </div>

        <div class="form-group">
          <label for="artistName">Artist</label>
          <input type="text" 
                 class="form-control" 
                 ng-model="songForm.newSong.artist" 
                 placeholder="Pink Floyd">
        </div>

        <div class="form-group">
          <label for="albumName">Album</label>
          <input type="text" 
                 class="form-control" 
                 ng-model="songForm.newSong.albumName" 
                 placeholder="Another Brick In The Wall">
        </div>

        <div class="form-group">
          <label for="albumYear">Year album released</label>
          <input type="text" 
                 class="form-control" 
                 ng-model="songForm.newSong.albumYear" placeholder="1968">
        </div>

      </form>
      <button ng-click="songForm.addSong()" class="btn btn-raised btn-material-red-400">Add Song &gt;</button>
    </div>
    <div class="col-sm-3 padded--large">
      
    </div>
  </div>
</div>
